<h1>Welcome to Getsy</h1>
<h3>This is a site built as part of the Baserails tutorial.</h3> 
<p>All parts of this site and the information within is simply a flight of fancy as I learn to build web applications with Ruby on Rails. 
</p>
<p>For beginners interested in RoR development, I can't recommend <a href="http://www.baserails.com">Baserails</a> enough.</p>