      <div class="row">  
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>Keepsakes and pix <br />
                from my travels and shows</h2>
            <h3>One-of-a-kind trinkets</h3>
          </div>
        </div> 
      </div> 